{
  "$schema": "https://www.schemastore.org/prettierrc.json",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "experimentalTernaries": true,
  "plugins": ["prettier-plugin-organize-imports"]
}
